* {
    box-sizing: border-box;
}

:root {
    --coral: #F08080;
    --lightcoral: rgba(240, 128, 128, 0.35);
    --gold: #FFD700;
    --lightgold: rgba(255, 215, 0, 0.35);
    --teal: #008080;
    --lightteal: rgba(0, 128, 128, 0.35);
    --black: #000000;
    --white: #FFFFFF;
    --brown: rgb(87, 51, 9);
}

body {
    background-color: var(--teal);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

#wrapper {
    background-color: white;
    height: 80vh;
    width: 90vw;
    box-shadow: 20px 20px 10px var(--black);
    margin: 0;
    display: flex;
    align-items: center;}

#left-wrapper {
    background-color: var(--lightteal);
    height: 100%;
    width: 33.33333%;
    margin: 0;
    display: flex;
    align-items: center;

}

#right-wrapper {
    height: 100%;
    width: 66.6666%;
}

#avatar-container {
    width: 425px;
    height: 425px;
    border: 15px ridge var(--brown);
    background-color: var(--white);
    position: relative;
    margin-left: 25%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
}

#greeting {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    font-family: 'Suez One', serif;
    font-size: 4.5rem;
}

#info-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-left: 7rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

#contact-info {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

#github-logo {
    margin-right: 3rem;
    margin-left: 12rem;
}

#linkedin-logo {
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.contact-icon:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
}

/* Responsive styling */

@media screen and (min-width: 1550px) {
    #avatar-container {
        margin-left: 35%;
    }
    
}

@media screen and (max-width: 1330px) {
    #wrapper {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    #left-wrapper {
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin:0;
        height: 100%;
        width: 100%;
        justify-content: center;
    }

    #avatar-container {
        margin-left: 0;
    }

    #right-wrapper {
        height: 100%;
        width: 100%;
    }

    #info-wrapper {
        padding: 0;
        margin: 2rem;
    }

    #skills-list {
        margin-bottom: 2rem;
    }

    #github-logo {
        margin-right: 3rem;
        margin-left: 0;
    }
    
    #linkedin-logo {
        margin-top: 1.5rem;
        margin-left: 2rem;
    }
}

@media screen and (max-width: 768px) {

    body {
        margin: 0rem;
    }

    #wrapper {
        width: 100%;
        justify-content: center;
        padding-bottom: 3.5rem;
    }

    #avatar-container {
        width: 250px;
        height: 250px;
        
    }
    #avatar {
        width: 175px;
        height: 175px;
    }
    
    #greeting {
        font-size: 2.5rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    #info-wrapper {
        padding: 0.5rem;
    }

    #skills-list {
        margin-bottom: 4rem;
    }

    #github-logo {
        height: 64px;
        width: 64px;
    }
    
    #linkedin-logo {
        height: 32px;
        width: 128px;
    }
}

@media screen and (max-width: 300px) {
    #contact-info {
        flex-direction: column;
        text-align: center;
    }

    #github-logo {
        margin-bottom: 2rem;
    }

    #github-logo, #linkedin-logo {
        margin-left: 0;
        margin-right: 0;
    }
    
}